
body {
    /*font-family: 'Inconsolata', Monaco, "Lucida Console", Consolas, "Courier New", "Helvetica Neue";*/
	background-color: #f9f9f9;
}

text {
    font: 10px sans-serif;
}

button {
    font: 10px sans-serif;
}

.btn, .btn {
    /*background-color: rgba(15, 76, 129, 0.1);*/
    min-width: 150px;
    border: 1px solid black;
    background-color: white;
}

.btn.active, .btn:active {
    background-color: rgba(15, 76, 129, 0.4);
    font-weight: bold;
}

#section-select {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

#section-select .btn {
    height: 45px;
    min-width: 160px;
    /*vertical-align: middle;*/
    padding: 10px;
    font-size: 12pt;
}

#section-select .btn label {
    position: absolute;
    top: 50%;
}

.fstdiv .fstselected {
    text-align: center;
    margin: auto;
}

.fstdiv {
    margin: auto;
}

.fstdropdown {
    margin: auto;
}

.fstlist div {
    text-align: center;
}

#show-genre-select-wrapper .fstdiv {
    width: 85%;
}

/*.chosen-single {*/
    /*height: 40px;*/
/*}*/

#ranked-show-bar-chart .y-axis text {
    font-size: 10px !important;
}


/*#ranked-show-chartbrush {*/
    /*border: 1px solid black;*/
/*}*/


.section-text {
    margin-bottom: 40px;

    padding-left: 20px;
    padding-right: 20px;
}

.spacer {
	height: 60px;
}

.footer {
	margin-top: 40px;
	margin-bottom: 60px;
}

.icon-img {
	height: 13px;
	width: 13px;
	margin-bottom: 2px;
}

/*Load Spinner*/

.lds-ring {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 120px;
  height: 120px;
  margin: 9px;
  border: 9px solid #444;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #444 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}